.header-container {
  background-color: white;
  height: 120px;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  display: flex;
}

.header-container ul {
  list-style-type: none;
  padding: 0;
}

.header-container li {
  content: "";
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 0px;
}

.header-container li p,
a {
  font-family: OCR A Std, monospace;
  margin-top: -10px;
  text-decoration: none;
  color: inherit;
}

@media (min-width: 576px) and (max-width: 768px) {
  .header-container {
    width: 768px;
    padding: 15px;
    display: flex;
  }

  .header-container h2,
  p {
    left: 50px;
    justify-content: left;
    padding-left: -200px;
  }

  .header-container ul {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
    margin-left: -160px;
  }

  .header-container li {
    margin-bottom: 10px;
  }

  .menu-container {
    background-color: black;
    width: 768px;
    height: 80px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header-container {
    width: 768px;
    padding: 15px;
    display: flex;
  }

  .header-container h2,
  p {
    left: 50px;
    justify-content: left;
    padding-left: -200px;
  }

  .header-container ul {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
    margin-left: -160px;
  }

  .header-container li {
    margin-bottom: 10px;
  }

  .menu-container {
    background-color: black;
    width: 768px;
    height: 80px;
  }
}

body {
  background-image: url("Wallpaper\ Site\ Personal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
  margin: 0 auto;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.menu-container {
  background-color: black;
  height: 80px;
}

h2 {
  font-weight: bold;
  font-family: Arial Black, sans-serif;
  font-size: 50px;
}

.header-container img {
  display: flex;
  height: 100px;
  width: 120px;
  margin-top: -15px;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 25px;
  display: flex;
  justify-content: center;
}

.nav-list li {
  margin-right: 30px;
  color: rgb(170, 170, 170);
}

.nav-list li a {
  text-decoration: none;
  font-size: 18px;
}

.nav-list li a:hover {
  color: white;
}

.nav-list li a.active {
  color: white;
}

.body-terminal {
  display: flex;
  height: 100vh;
  margin: 0;
  padding-top: 50px;

  flex-direction: column;
  align-items: center;
}

.terminal {
  background-color: #000;
  color: #fff;
  padding: 10px;
  width: 950px;
  height: 400px;
  overflow: auto;
  flex-direction: column;
}

.terminal thead {
  background-color: white;
  height: 35px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.terminal thead img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  padding-left: 5px;
}

.terminal tbody {
  display: block;
}

.terminal tbody tr {
  display: flex;
  margin-bottom: 0;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre;
}

.terminal tbody td {
  padding: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .body-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .body-terminal {
    display: flex;
    height: 100vh;
    margin: 0;
    margin-top: -100px;
    align-items: center;
    margin-left: 55px;
  }

  .terminal {
    background-color: #000;
    color: #fff;

    width: 650px;
    height: 300px;
    overflow: auto;
    margin: auto;
  }

  .terminal thead {
    background-color: white;
    height: 35px;
    color: black;
    font-weight: bold;
    font-size: 18px;
  }

  .terminal thead img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    padding-left: 5px;
  }

  .terminal tbody {
    display: block;
  }

  .terminal tbody tr {
    display: flex;
    margin-bottom: 0;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre;
  }

  .terminal tbody td {
    padding: 0;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 20px;
  color: #fff;
}

.aboutme-container {
  background-color: #000;
  color: #fff;
  padding: 10px;
  width: 600px;
  height: 650px;
  overflow: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.aboutme-container img {
  width: 180px;
  height: 185px;
  margin-top: -400px;
  margin-bottom: 20px;
}
.aboutme-head {
  position: absolute;
  text-align: center;

  top: 220px;
}

.aboutme-body {
  position: absolute;
  text-align: center;
  top: 300px;
  width: 500px;
}
.aboutme-body h4 {
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -80px;
    margin-left: 20px;
    color: #fff;
    width: 700px;
  }

  .aboutme-container {
    margin: auto;
    margin-left: 45px;
  }

  .aboutme-container img {
    width: 180px;
    height: 185px;
  }
  .aboutme-head {
    position: absolute;
    text-align: center;

    top: 220px;
  }

  .aboutme-body {
    position: absolute;
    text-align: center;
    top: 300px;
    width: 500px;
  }
  .aboutme-body h4 {
    font-size: 18px;
  }
}

footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 80px;
  height: 200px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.logo-container img {
  margin: 0 10px 20px;
}

#instagram-logo {
  width: 35px;
  height: 30px;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(133deg)
    brightness(105%) contrast(108%);
}

#whatsapp-logo {
  width: 35px;
  height: 30px;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(133deg)
    brightness(105%) contrast(108%);
}

#linkedin-logo {
  width: 35px;
  height: 30px;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(133deg)
    brightness(105%) contrast(108%);
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery li {
  flex-basis: 350px; /* width: 350px; */
}

.image-gallery li iframe {
  object-fit: cover;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
  width: 410px;
  height: 280px;
}

.overlay {
  background-color: #000;
  top: 20px;
  height: 60px;
  align-items: center;
  text-align: center;
}

.overlay .overlay:hover {
  color: white;
}
